<html>
<head>
	<meta charset="UTF-8">
	<title>平均薪资计算器</title>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/element-plus/dist/index.full.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="../static/css/uahh.css">
	<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
	<meta name="viewport" content="width=505,user-scalable=0">
</head>

<body>
	<div id="app">
		<div id="choose" v-show="chooseShow">
			<el-row>
				<el-col :span="11">
					<div class="grid-content">
						<div id="create_button" style="line-height: 60px; text-align: right;">
							<el-button size="large" type="primary" @click="onCreate">创建</el-button>
						</div>
					</div>
				</el-col>
				<el-col :span="2">
					<div class="grid-content" style="margin: 20px 0px 0px 0px;">
						<hr style="transform:rotate(90deg)">
					</div>
				</el-col>
				<el-col :span="11">
					<div class="grid-content">
						<div id="join_button" style="line-height: 60px; text-align: left; ">
							<el-button size="large" type="primary" @click="onJoin">加入</el-button>
						</div>
					</div>
				</el-col>
			</el-row>
		</div>
		<div id="create" v-show="createShow">
			<el-row>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
				<el-col :span="8">
					<el-form :label-position="left" :model="form" style="margin: auto;">
						<el-form-item label="薪资类型">
							<el-radio-group v-model="form.salaryType">
								<el-radio label="月薪"></el-radio>
								<el-radio label="年薪"></el-radio>
							</el-radio-group>
						</el-form-item>
						<el-form-item label="人数&ensp;&ensp;&ensp;&ensp;" prop="roomPeople" :rules="[
						{ required: true, message: '人数不能为空'},
						{ type: 'number', message: '人数必须为数字'}
					  ]">
							<el-input type="roomPeople" style="width: 200px" v-model.number="form.roomPeople" autocomplete="off"></el-input>
						</el-form-item>
						<el-form-item label="您的薪资" prop="salary" :rules="[
						  { required: true, message: '薪资不能为空'},
						  { type: 'number', message: '薪资必须为数字'}
						]">
							<el-input type="salary" style="width: 200px" v-model.number="form.salary" autocomplete="off"></el-input>
						</el-form-item>
						<el-button type="primary" @click="onSubmitCreate">立即创建</el-button>
						</el-form-item>
						</el-form-item>
						<el-button type="primary" @click="onBack">返回</el-button>
						</el-form-item>
					</el-form>
				</el-col>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
			</el-row>
		</div>
		<div id="join" v-show="joinShow">
			<el-row>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
				<el-col :span="8">
					<el-form :label-position="left" :model="form">
						<el-form-item label="房间号&ensp;&ensp;" prop="roomNumber" :rules="[
						{ required: true, message: '房号不能为空'},
					  ]">
							<el-input type="roomNumber" style="width: 200px" v-model="form.roomNumber" autocomplete="off"></el-input>
						</el-form-item>
						<el-form-item label="您的薪资" prop="salary" :rules="[
						{ required: true, message: '薪资不能为空'},
						{ type: 'number', message: '薪资必须为数字'}
					  ]">
							<el-input type="salary" style="width: 200px" v-model.number="form.salary" autocomplete="off"></el-input>
						</el-form-item>
						<el-button type="primary" @click="onSubmitJoin">立即加入</el-button>
						</el-form-item>
						</el-form-item>
						<el-button type="primary" @click="onBack">返回</el-button>
						</el-form-item>
					</el-form>
				</el-col>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
			</el-row>
		</div>
		<div id="wait" v-show="waitShow">
			<el-row>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
				<el-col :span="8">
					<div class="loader loader--style2" style="text-align: center;">
						<svg version="1.1" id="loader-1" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50"
							style="enable-background:new 0 0 50 50;" xml:space="preserve">
							<path fill="#E6A23C"
								d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
								<animateTransform attributeType="xml" attributeName="transform" type="rotate"
									from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite" />
							</path>
						</svg>
						<h3 style="text-align: center;">
							房间号：
						</h3>
						<h4 id="needCopy" style="text-align: center;">
							{{ form.roomNumber }}
						</h4>
						<el-button v-show="copyShow" type="primary" @click="onCopy">复制</el-button>
						<h3 style="text-align: center;">
							正在等待 ({{ form.nowPeople }}/{{ form.roomPeople }})
						</h3>
					</div>
				</el-col>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
			</el-row>
		</div>
		<div id="wait" v-show="resultShow">
			<el-row>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
				<el-col :span="8">
					<div class="loader loader--style2" style="text-align: center;">
						<h3 style="text-align: center;">
							薪资类型：{{ form.salaryType }}
						</h3>
						<h3 style="text-align: center;">
							房间人数：{{ form.nowPeople }}
						</h3>
						<h3 style="text-align: center;">
							平均薪资：{{ form.salary }}
						</h3>
					</div>
				</el-col>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
			</el-row>
		</div>
	</div>
	<div class="content-box">
		<h2>这是什么？</h2>
		<p>平均工资计算器。</p>
		<blockquote>
			<p>
				五个人想知道他们的平均工资，如何在不互相告知的情况下计算出呢？</br>
				找个计算器，将显示器蒙上，然后把自己的收入加上去，之后依次传给其他人，每人都把自己的收入加上之前的数，最后除以人数，即可得到大家的平均。</br>
			</p>
		</blockquote>
		<p>这个网站就实现了这个功能。</p>
		<h2>使用说明</h2>
		<p>如果您是组织者，请点击创建，输入参与人数和自己的薪资，点击立即创建。将房间号码分发给其他人。不要关闭或刷新页面，等所有人输入完毕后，即可显示大家的平均薪资。</p>
		<p>如果您是参与者，请直接输入组织者给您的房间号，和自己的薪资，提交后请不要关闭或刷新页面，等所有人输入完毕后，即可显示大家的平均薪资。</p>
		<p>如果不小心关闭了页面，可以点击加入，输入刚才的房间号，并将薪资写为0，即可重新加入刚刚的房间</p>
		<p>每个房间只有十分钟的存活时间。</br>请放心，本网站不会保存任何数据</p>
		<h2>仓库地址</h2>
		<p><a href="https://github.com/itorr/nbnhhsh" target="_blank">https://github.com/itorr/nbnhhsh</a></p>
	</div>
	<script src="../static/js/main.js" defer></script>