<html>

<head>
	<meta charset="UTF-8">
	<title>平均薪资计算器</title>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/element-plus/dist/index.full.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- <link rel="stylesheet" href="../static/css/base.css"> -->
	<!-- <link rel="stylesheet" href="../static/css/bbk.css"> -->
	<link rel="stylesheet" href="../static/css/uahh.css">
	<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
	<meta name="viewport" content="width=device-width,user-scalable=0">
</head>

<body>
	<div id="app">
		<div id="choose" v-show="chooseShow">
			<el-row>
				<el-col :span="11">
					<div class="grid-content">
						<div id="create_button" style="line-height: 60px; text-align: right;">
							<el-button size="large" type="primary" @click="onCreate">创建</el-button>
						</div>
					</div>
				</el-col>
				<el-col :span="2">
					<div class="grid-content" style="margin: 20px 0px 0px 0px;">
						<hr style="transform:rotate(90deg)">
					</div>
				</el-col>
				<el-col :span="11">
					<div class="grid-content">
						<div id="join_button" style="line-height: 60px; text-align: left; ">
							<el-button size="large" type="primary" @click="onJoin">加入</el-button>
						</div>
					</div>
				</el-col>
			</el-row>
		</div>
		<div id="create" v-show="createShow">
			<el-row class="g-container">
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
				<el-col :span="8">
					<el-form :label-position="labelPosition" :model="form" style="margin: auto;">
						<el-form-item label="薪资类型">
							<el-radio-group v-model="form.type">
								<el-radio label="月薪"></el-radio>
								<el-radio label="年薪"></el-radio>
							</el-radio-group>
						</el-form-item>
						<el-form-item label="人数&ensp;&ensp;&ensp;&ensp;">
							<el-input style="width: 200px" v-model="form.people"></el-input>
						</el-form-item>
						<el-form-item label="您的薪资">
							<el-input style="width: 200px" v-model="form.salary"></el-input>
						</el-form-item>
							<el-button type="primary" @click="onSubmitCreate">立即创建</el-button>
						</el-form-item>
						</el-form-item>
							<el-button type="primary" @click="onBack">返回</el-button>
						</el-form-item>
					</el-form>
				</el-col>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
			</el-row>
		</div>
		<div id="join" v-show="joinShow">
			<el-row>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
				<el-col :span="8">
					<el-form :label-position="labelPosition" :model="form">
						<el-form-item label="房间号&ensp;&ensp;">
							<el-input style="width: 200px" v-model="form.roomNumber"></el-input>
						</el-form-item>
						<el-form-item label="您的薪资">
							<el-input style="width: 200px" v-model="form.salary"></el-input>
						</el-form-item>
							<el-button type="primary"@>立即加入</el-button>
						</el-form-item>
						</el-form-item>
							<el-button type="primary" @click="onBack">返回</el-button>
						</el-form-item>
					</el-form>
				</el-col>
				<el-col :span="8">
					<div class="grid-content">
					</div>
				</el-col>
			</el-row>
		</div>
		<div id="wait" v-show="waitShow">
			<el-row>
				<el-col :span="9">
					<div class="grid-content">
					</div>
				</el-col>
					<el-col :span="6">
						<div class="loader loader--style2" title="1" style="text-align: center;">
							<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
							<path fill="#E6A23C" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
							<animateTransform attributeType="xml"
								attributeName="transform"
								type="rotate"
								from="0 25 25"
								to="360 25 25"
								dur="0.6s"
								repeatCount="indefinite"/>
							</path>
							</svg>
							<h3 style="text-align: center;">
								房间号：52173
							</h3>
							<h3 style="text-align: center;">
								正在等待 (1/4)
							</h3>
						</div>
					</el-col>
				<el-col :span="9">
					<div class="grid-content">
					</div>
				</el-col>
			</el-row>
		</div>
	</div>
	<!-- <div class="content-box">
		<h2>例文</h2>
		<blockquote>
			<p>草这个tmd网络世界我真的太恨缩写了。</p>
			<p>
				随便点开一条微博，艺人名字要缩写，gzs工作室也要缩写，gc广场他妈的也是缩写，hgr老子猜了老半天，百度一下才知道是韩国人，拳头硬了。<br>
				讲个话开头也缩写，srds虽然但是，yjgj有句港句，bbl求求了。（这个谁看得出来你妈的）<br>
				夸人骂人也都缩写，yjjc一骑绝尘，wdcc弯道超车，yygq阴阳怪气，myss美颜盛世，rnb我也猜了半天，最后被告知是really牛b的意思，哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈又硬了呢。<br>
				最要命的还不是这些，我刚刚看到网友评价什么什么他jb的什么，我以为jb就是jb的意思吧，但联系上下文句子又读不通，想了一分钟，哇，原来jb是姜滨的缩写啊！<br>
				jb＝姜滨，我离开了。
			</p>
			<p>@你里哥哥</p>
		</blockquote>

		<h2>为什么做这东西？</h2>
		<p>社交平台上通过拼音首字母缩写指代特定词句的情况越来越多，为了让更多人能勉强理解这一门另类沟通方式、做了这一个划词转义工具。</p>

		<h2>仓库地址</h2>
		<p><a href="https://github.com/itorr/nbnhhsh" target="_blank">https://github.com/itorr/nbnhhsh</a></p>
	</div> -->
	<script>
		v = {
			name: "Form",
			data() {
				return {
					chooseShow: true,
					createShow: false,
					joinShow: false,
					waitShow: false,
					labelPosition: 'left',
					form: {
						salary: '',
						salaryType: '',
						roomNumber: '',
						people: ''
					}
				};
			},
			methods: {
				onCreate() {
					this.createShow = true;
					this.chooseShow = false;
				},
				onJoin() {
					this.joinShow = true;
					this.chooseShow = false;
				},
				onBack() {
					this.joinShow = false;
					this.createShow = false;
					this.chooseShow = true;
				},
				onSubmitCreate() {
					this.joinShow = false;
					this.createShow = false;
					this.waitShow = true;
					// let res = axios({
					// 	method: 'post',
					// 	url: '/create_room',
					// 	data: this.form,
					// }).then(res => {
           			// })
					console.log(this.form)
					axios.post('/create_room', this.form)
						.then((res) => {
							//Perform Success Action
						})
						.catch((error) => {
							// error.response.status Check status code
						}).finally(() => {
							//Perform action in always
						});
				}
			}
		}
		const V = Vue.createApp(v);
		V.use(ElementPlus);
		V.mount("#app");
	</script>